<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About emilia cole</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/music">Music</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>About</h1>
      <img src="img/emilia-about.jpg" alt="About emilia" />
      <section id="ofertas">
        <article>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam vel
            praesentium quam reiciendis aliquam deleniti alias excepturi nemo in
            quis eveniet nisi minima nam debitis fuga voluptatum, modi quaerat
            impedit.
          </p>
        </article>
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas,
            veritatis.
          </p>
        </article>
      </section>
      <section id="destacados">
        <article>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam vel
            praesentium quam reiciendis aliquam deleniti alias excepturi nemo in
            quis eveniet nisi minima nam debitis fuga voluptatum, modi quaerat
            impedit.
          </p>
        </article>
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas,
            veritatis.
          </p>
        </article>
      </section>
      <a href="#">Volver al inicio</a>
    </main>
    <a href="https://wa.me/542616048911">Mensaje a Cris</a>

  </body>
</html>
