<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About emilia cole</title>
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <header>
        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/home">home</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        <nav>
            <ul><a href=""><i class="fab fa-instagram"></i>
            </a>
            <a href=""><i class="fab fa-spotify"></i>
            </a>
            <a href=""><i class="fab fa-apple"></i>
            </a>
            <a href=""><i class="fab fa-amazon"></i>
            </a>
            <a href=""><i class="fab fa-twitter"></i>
            </a>
            <i class="fa-brands fa-facebook-f"></i>
        </ul>

        </nav>
        <nav>
            <ul>
                <li><a href="#destacados">Destacados</a></li>
            </ul>
        </nav>
    <main>
      <h1>About</h1>
      <img src="img/emilia-about.jpg" alt="About emilia" />
      <section id="ofertas">
          <article>
          <p class="cita primaria">"Seattle-based pop star makes her<br>indie debut with a hauntingly beautiful album"</p>
          <li> John Tirckle, Music Today Post
          </li>
        </article>
      </section>
      <section id="destacados">
        <article>
          <p>
            "Emilia Cole is one of the<br>scene's breakout stars"
          </p>
          <li>John Tirckle, Music Today Post</li>
        </article>
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas,
            veritatis.
          </p>
        </article>
      </section>
      <a href="#">Volver al inicio</a>
    </main>
    <a href="https://wa.me/542616048911">Mensaje a Cris</a>

  </body>
</html>
