<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Sitio</title>
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/home">home</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        <nav>
            <ul><a href=""><i class="fab fa-instagram"></i>
            </a>
            <a href=""><i class="fab fa-spotify"></i>
            </a>
            <a href=""><i class="fab fa-apple"></i>
            </a>
            <a href=""><i class="fab fa-amazon"></i>
            </a>
            <a href=""><i class="fab fa-twitter"></i>
            </a>
            <i class="fa-brands fa-facebook-f"></i>
        </ul>

        </nav>
        <nav>
            <ul>
                <li><a href="#destacados">Destacados</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <h1>emilia</h1>
        <img width="300px" src="img/emilia-home.jpg" alt="Emilia">
        <h2>Twist in my reality</h2>
        <section>
            <h2>Ofertas</h2>
            <article>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, voluptatibus impedit dicta
                    totam assumenda vitae dolorem ex harum natus porro quibusdam deserunt unde soluta ipsa asperiores
                    nihil voluptatum itaque. Enim!</p>

            </article>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti magni necessitatibus vitae tempora
                    laborum beatae nesciunt quod quidem debitis hic excepturi natus accusamus nisi, sequi maiores
                    exercitationem aliquam ratione. Assumenda!</p>

            </article>
            <article>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, voluptatibus impedit dicta
                    totam assumenda vitae dolorem ex harum natus porro quibusdam deserunt unde soluta ipsa asperiores
                    nihil voluptatum itaque. Enim!</p>

            </article>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti magni necessitatibus vitae tempora
                    laborum beatae nesciunt quod quidem debitis hic excepturi natus accusamus nisi, sequi maiores
                    exercitationem aliquam ratione. Assumenda!</p>

            </article>
            <article>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, voluptatibus impedit dicta
                    totam assumenda vitae dolorem ex harum natus porro quibusdam deserunt unde soluta ipsa asperiores
                    nihil voluptatum itaque. Enim!</p>

            </article>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti magni necessitatibus vitae tempora
                    laborum beatae nesciunt quod quidem debitis hic excepturi natus accusamus nisi, sequi maiores
                    exercitationem aliquam ratione. Assumenda!</p>

            </article>
        </section>
        <section id="destacados">
            <h2>Destacados</h2>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt error animi sunt necessitatibus
                    reiciendis porro itaque rem debitis accusamus officiis, nisi quidem est veritatis eum quaerat ex
                    fuga quam harum?</p>
            </article>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, voluptatibus perferendis
                    consequuntur natus dolore perspiciatis repellat deleniti, molestiae hic non, voluptate rem. Adipisci
                    molestias pariatur ratione in, fugiat amet voluptatem?
                </p>
            </article>
            <article>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, voluptatibus impedit dicta
                    totam assumenda vitae dolorem ex harum natus porro quibusdam deserunt unde soluta ipsa asperiores
                    nihil voluptatum itaque. Enim!</p>

            </article>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti magni necessitatibus vitae tempora
                    laborum beatae nesciunt quod quidem debitis hic excepturi natus accusamus nisi, sequi maiores
                    exercitationem aliquam ratione. Assumenda!</p>

            </article>
            <article>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, voluptatibus impedit dicta
                    totam assumenda vitae dolorem ex harum natus porro quibusdam deserunt unde soluta ipsa asperiores
                    nihil voluptatum itaque. Enim!</p>

            </article>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti magni necessitatibus vitae tempora
                    laborum beatae nesciunt quod quidem debitis hic excepturi natus accusamus nisi, sequi maiores
                    exercitationem aliquam ratione. Assumenda!</p>

            </article>
            <article>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, voluptatibus impedit dicta
                    totam assumenda vitae dolorem ex harum natus porro quibusdam deserunt unde soluta ipsa asperiores
                    nihil voluptatum itaque. Enim!</p>

            </article>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti magni necessitatibus vitae tempora
                    laborum beatae nesciunt quod quidem debitis hic excepturi natus accusamus nisi, sequi maiores
                    exercitationem aliquam ratione. Assumenda!</p>

            </article>
            <article>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, voluptatibus impedit dicta
                    totam assumenda vitae dolorem ex harum natus porro quibusdam deserunt unde soluta ipsa asperiores
                    nihil voluptatum itaque. Enim!</p>

            </article>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti magni necessitatibus vitae tempora
                    laborum beatae nesciunt quod quidem debitis hic excepturi natus accusamus nisi, sequi maiores
                    exercitationem aliquam ratione. Assumenda!</p>

            </article>
            <article>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, voluptatibus impedit dicta
                    totam assumenda vitae dolorem ex harum natus porro quibusdam deserunt unde soluta ipsa asperiores
                    nihil voluptatum itaque. Enim!</p>

            </article>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti magni necessitatibus vitae tempora
                    laborum beatae nesciunt quod quidem debitis hic excepturi natus accusamus nisi, sequi maiores
                    exercitationem aliquam ratione. Assumenda!</p>

            </article>
            <a href="">Volver al Inicio</a>
        </section>

    </main>

    <footer>
        <nav>

            <ul>
                <li><a href="http://wwww.facebook.com">Ir a retrogusto Emilia Cole</a></li>
            </ul>
        </nav>

    </footer>





</body>

</html>